body{
    background-color: rgb(46, 46, 46);
    font-family: sans-serif;
    font-size: 18;
}

#main{
    background-color: rgb(34, 32, 32);
    color: white;

    text-align: center;
    border: 0px solid rgb(34, 32, 32);

    border-radius: 20px;
    padding-top: 5%;
    padding-bottom: 5%;

    width: 50%;
    margin: auto;
    margin-top: 10%;
}

#spacer{
    margin-top: 5%;
}

#text_input{
    transition: 250ms ease-in-out;

    border: 2px solid rgb(63, 63, 63);
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    background-color: rgb(34, 32, 32);
    color: white;
    outline-style: none;

    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    font-size: 14px;
}
#text_input:focus{

    border: 2px solid rgb(63, 63, 63);
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
#text_input:hover{
    background-color: rgb(63, 63, 63);
}

#submit_input{
    transition: 250ms ease-in-out;

    border: 2px solid rgb(63, 63, 63);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    background-color: rgb(34, 32, 32);
    color: white;
    outline-style: none;

    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    font-size: 14px;
}
#submit_input:hover{
    border: 2px solid rgb(63, 63, 63);
    background-color: rgb(63, 63, 63);
}
#submit_input:focus{
    transition: 0ms;
    border-color: #63ca71;
    background-color: #63ca71;
}

#incorrect_password{
    color: rgb(241, 34, 34);
    font-size: 14;
}