<html>
    <head>
        <title>Command interface</title>
        <link rel="stylesheet" href="..\static\auth.css">
    </head>
    <body>
        <div id="main">
            Command interface
            <div id="spacer"></div>
            <form method="POST">
                <input name="cmd" id="text_input" placeholder="print('Hello Neko')">
                <input type="submit" id="submit_input" value="Evaluate">
            </form>
            <div id="spacer"></div>
            {{result}}
        </div>
    </body>
</html>